<ion-content [fullscreen]="true">

  <!-- //////////////////////////////////////////////// -->
  <!-- ENCABEZADO -->

  <div id="encabezado">

    <h3>{{ titulo }}</h3>

    <div class="imagen">

      <img src="assets/imagenes/logo.png" alt="PASSDOOR" width="100%" />

    </div>

  </div>

  <!-- //////////////////////////////////////////////// -->
  <!-- FORMULARIO -->

  <div id="formulario">

    <div class="grupo">

      <div class="icono">

        <ion-icon name="mail"></ion-icon>

      </div>

      <ion-item class="input">

        <ion-label position="floating">{{ lblCorreo }}</ion-label>
        <ion-input type="text" [(ngModel)]='usuario.email'></ion-input>

      </ion-item>

    </div>

    <div class="grupo">

      <div class="icono">

        <ion-icon name="lock-closed"></ion-icon>

      </div>

      <ion-item class="input">

        <ion-label position="floating">{{ lblCodigoAcceso }}</ion-label>
        <ion-input type="text" [(ngModel)]='usuario.clave'></ion-input>

      </ion-item>

    </div>

    <div class="grupo">

      <a class="ref">

        {{ refOlvideCodAcc }}

        <ion-icon name="caret-forward-outline"></ion-icon>

      </a>

    </div>

    <!-- //////////////////////////////////////////////// -->
    <!-- BOTONES -->
    <div id="botones">

      <button (click)='enIngresar()'> {{ btnIngresar }} </button>
      <button [routerLink]="['/Registro']"> {{ btnRegistrarse }} </button>

    </div>

  </div>

</ion-content>