<ion-content>

    <!-- //////////////////////////////////////////////// -->
    <!-- ENCABEZADO -->

    <div class="menu-sup">

        <a class="imagen">
            
            <img src="assets/imagenes/logo-icono2.png">
    
        </a>

        <div class="icono">

            <ion-icon id="usuario-icono" name="person-circle"></ion-icon>
            
            <div class="menu-desplegable">

                <p (click)="CerrarSesion()">CERRAR SESIÓN</p>

            </div>

        </div>
    
    </div>

    <!-- //////////////////////////////////////////////// -->
    <!-- CONTENIDO -->

    <div id="contenido">

        <!-- //////////////////////////////////////////////// -->
        <!-- POSICIONES -->

        <div class="Extra">

            <button (click)="FijarPosicion()" >Fijar</button>

            <h4> 
                Pocision Fija
                Latitud: {{ PosicionFija['latitud'] }}
                <br> 
                Longitud: {{ PosicionFija['longitud'] }} 
            
            </h4>

            <h4> 
                Pocision Actual
                Latitud: {{ PosicionActual['latitud'] }}
                <br> 
                Longitud: {{ PosicionActual['longitud'] }} 
            
            </h4>

        </div>

        <!-- //////////////////////////////////////////////// -->
        <!-- ESTADO GPS -->

        <div class="gps">

            <div class="gps-icono {{ lblEstadoGPS }}">
                
                <ion-icon name="locate"></ion-icon>

            </div>

            <h3> {{ lblEstadoGPS }} </h3>

        </div>

        <!-- //////////////////////////////////////////////// -->
        <!-- NOTIFICACIÓN -->

        <div class="alerta {{ lblEstadoNotificacion }}">

            <div class="alerta-titulo">

                <h3>{{ lblNotificaciones }}</h3>

            </div>

            <div class="alerta-contenido">

                Distancia: {{ Distancia }} KM
                <br>
                Estado de la Puerta: {{ Puerta }}
                <br>
                {{ logs }}

            </div>

        </div>

    </div>

</ion-content>